"HelloWorld":
	path: "/home/savvas/repos/alan-compiler/alan"
	args: ["Examples/HelloWorld"]

"ReverseHelloWorld":
	path: "/home/savvas/repos/alan-compiler/alan"
	args: ["Examples/ReverseHelloWorld"]

"HanoiTowers":
	path: "/home/savvas/repos/alan-compiler/alan"
	args: ["Examples/HanoiTowers"]

"FirstNumbers":
	path: "/home/savvas/repos/alan-compiler/alan"
	args: ["Examples/FirstNumbers"]

"BubbleSort":
	path: "/home/savvas/repos/alan-compiler/alan"
	args: ["Examples/BubbleSort"]

"test":
	path: "/home/savvas/repos/alan-compiler/alan"
	args: ["Examples/test"]

"test2":
	path: "/home/savvas/repos/alan-compiler/alan"
	args: ["Examples/test2"]
